.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1E1E1E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#hero{
    min-height: 100vh;
}

.navbar{
    padding: 20px 0;
}

.navbar-brand img{
    width: 65px;
    height: 65px;
    object-fit: contain;
    border-radius: 20px;
}

.nav-link{
    color: white;
    margin-left: 15px;
}

.nav-link:hover{
    color: #00e5ff;
}

.hero-row {
    min-height: 85vh;
}

/* .hero-row h2{
    color: #00e5ff;
    font-size: 60px;
    font-weight: bold;
} */

.hero-row h1{
    color: #00e5ff;
    font-size: 55px;
    font-weight: bold;
}

.text{
    text-indent: 15px;
}

.hero-row h4{
    margin-top: 15px;
    font-size: 23px;
}

.hero-row p{
    margin-top: 30px;
    width: 85%;
    color: #cfcfcf;
    line-height: 30px;
}

@media (max-width:576px){
    .hero-row h1{
        font-size: 36px;
    }

    .hero-row h4{
        font-size: 18px;
    }

    .hero-row p{
        font-size: 15px;
        line-height: 26px;
    }
}

.social{
    margin-top: 20px !important;
}

.social a{
    color: #00e5ff;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}

.hero-image{
    width: 420px;
    border: 3px solid gray;
}

@media(max-width:991px){
    .hero-row{
        text-align: center;
        padding-top: 40px;
    }
    .hero-row p{
        width: 100%;
    }
    .hero-image{
        margin-top: 40px;
    }
}

#portfolio{
    padding: 100px 0;
}

#portfolio .container{
    max-width: 1290px;
}
.section-title{
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width:576px)
{
    .section-title{
        font-size: 32px;
    }
}
.project-card{
    background: #252525;
    border: 1px solid gray;
    /* padding: 40px 50px; */
    /* border: none; */
    /* border-radius: 20px; */
    /* overflow: hidden; */
    /* box-shadow: 0 10px 30px rgba(0,0,0,.4); */
    /* transition: .4s; */
}

/* .project-card:hover{
    transform: translateY(-10px);
} */
/* .project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 420px;
} */

.carousel-inner{
    height:350px;
}

@media (max-width:576px)
{
    .carousel-inner{
        height: 220px;
    }
}

.carousel-item,
.carousel-item img{
    height:100%;
}

.card-body{
    padding: 10px ;
    
}

@media (max-width:576px){
    .card-body{
        padding: 15px;
    }
}

.card-title{
    color: #00e5ff;
    font-size: 35px;
    font-weight: 540;
    margin-bottom: 15px;

}

@media (max-width:576px)
{
    .card-title{
        font-size: 28px;
    }
}

.card-text{
    color: #FFFFFF;
    line-height: 30px;
    margin: 25px 0;
}

.badge{
    font-size: 13px;
    border-radius: 8px;
}
.bg{
    background-color: #6C757D;
    color: white !important;
}

#skills{
    padding: 100px 0;
}

#skills h4{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.education{
    padding-left: 70px;
    padding-top: 70px;
}

.education h2{
    color: #00ffff;
    font-size: 48.7px;
    font-weight: bold;
    text-align: center;
}

.education p{
    color: #FFFFFF;
    font-size: 23.6px;
    line-height: 24px;
    text-align: center;
}

@media (max-width:576px)
{
    .education{
        padding: 40px 0 0;
    }

    .education h2{
        font-size: 32px;
    }

    .education p{
        font-size: 18px;
        line-height: 28px;
    }
}

#skills .skill{
    margin-bottom: 35px !important;
    padding-left: 0px;
}

.skill-list{
    padding-left: 20px;
}

.contact{
    padding: 100px 0;
}

.contact-title{
    font-size: 65px ;
    font-weight: 1000 ;
    color: #FFFFFF;
}

@media (max-width:576px){
    .contact-title{
        font-size: 38px;
    }
}

.contact-box{
    border-radius: 1px solid #808080;
    padding: 45px;
    padding-left: 150px;
    padding-right: 150px;
    box-shadow: 0 0 15px rgba(255,255,255,.15);
}

@media (max-width: 576px){
    .contact-box{
        padding: 25px;
    }
}

.custom-input{
    background: #1E1E1E;
    color: white;
    border: 1px solid #666;
    border-radius: 0;
    padding: 12px 15px;
}

.custom-input:focus{
    background: #1E1E1E;
    color: white;
    border-color: #00e5ff;
    box-shadow: none;
}

.custom-input::placeholder{
    color: #9b9b9b;
    opacity: 1;
}

/* textarea{
    resize: none;
} */


.send-btn{
    background: #6C757D;
    color: #00e5ff;
    border-radius: 0;
    font-weight: 600;
    padding: 12px;
}

.footer{
    margin-top: 80px;
}

.footer-line{
    border-color: #FFFFFF;
    margin-bottom: 30px;
}

.footer p{
    color: #FFFFFF;
    margin-bottom: 8px;
}

.social-icon{
    margin-top: 22px;
}

.social-icon a{
    color: #00FFFF;
    font-size: 25px;
    margin: 0 18px;
    transition: .3s;
    text-decoration: none;
}



.social-icon a:hover{
    color: blue;
}
